/*
paleta de colores
primario
#9ad3bc
#f3eac2

secundarios
#f5b461
#ec524b

neutral
#ffffff
#000000
#9b9b9b

*/

footer{
    padding: 10px 25px 0 25px;
    background-color: $verde;
    margin-top: 0px;
}

.btn-reserva{
    width: 100%;
    background-color: #f5b461;
    border-color: #f5b461;
}

.btn-reserva:focus{
    width: 100%;
    background-color: #ec524b;
    border-color: #ec524b;
}

.btn-reserva:hover{
    width: 100%;
    background-color: #ec524b;
    border-color: #ec524b;
}

.card-hotel{
    flex: 1 150px;
    margin-top: 10px;
}

.container-fluid{
    background-color: #f3eac2;
    padding: 10px 25px 10px 25px;
}

.fotter-address-icon{
    padding-right: 10px;
}

.jumbotron{
    background-color: $verde;
    color: black;
    margin-bottom: 0px;
    margin-top: 50px;
}

.tab-content{
    padding-top: 10px;
}