$verde: #9ad3bc;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

footer{
    padding: 10px 25px 0 25px;
    background-color: $verde;
    @include margenes(0px, 0px)
}

.btn-reserva{
    width: 100%;
    background-color: #f5b461;
    border-color: #f5b461;
}

.btn-reserva:focus{
    width: 100%;
    background-color: #ec524b;
    border-color: #ec524b;
}

.btn-reserva:hover{
    width: 100%;
    background-color: #ec524b;
    border-color: #ec524b;
}

.card-hotel{
    flex: 1 150px;
    margin-top: 10px;
}

.container-fluid{
    background-color: #f3eac2;
    padding: 10px 25px 10px 25px;
}

.fotter-address-icon{
    padding-right: 10px;
}

.jumbotron{
    background-color: $verde;
    color: black;
    @include margenes(50px, 0px)
}

.tab-content{
    padding-top: 10px;
}
